In [39]:
TRAIN_PROCESSED_FILE = '../twitter_data/3-sentiment-processed.csv'

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [40]:
data = pd.read_csv(TRAIN_PROCESSED_FILE, header=None)
print(len(data))

106530

In [31]:
data.head(5)

    0  1                                                  2
0   1  0  talk all the nonsense and continue all the dra...
1   5  0            kiya tho refresh maarkefir comment karo
2   6  0  surat women perform yagna seeks divine grace f...
3   7  0  this comes from cabinet which has scholars lik...
4  13  0  one vote can make all the difference anil kapo...

In [15]:
text = data[[2]]
count = 0
max_count = -1
min_count = float('inf')
lessthan5 = 0
for i in range(2, len(text)):
    v = text.iloc[i].values[0]
    if isinstance(v, str):
        if (len(text.iloc[i].values[0].split())) > max_count:
            max_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < min_count:
            min_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < 20:
            lessthan5 += 1
        count += len(text.iloc[i].values[0].split())
count /= len(data)
print(count)
print(lessthan5)
print(max_count)
print(min_count)

19.837350980944336
56499
50
1

In [16]:
text.iloc[5].values[0].split()

['one',
 'vote',
 'can',
 'make',
 'all',
 'the',
 'difference',
 'anil',
 'kapoor',
 'answers',
 'modis',
 'election',
 'clarion',
 'call',
 'extends',
 'support',
 'his',
 'campaign']

In [38]:
len(data.loc[data[1] == 1])

35510

In [41]:
len(data.loc[data[1] == -1])

35510

In [36]:
len(data.loc[data[1] == 0])

35510

In [46]:
y = data[[0, 1]]
y.head(5)

    0  1
0   1  0
1   5  0
2   6  0
3   7  0
4  13  0

In [56]:
def split_train_test(data, y, test_size=0.2, random_state=42):
    X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=test_size, random_state=random_state)
    X_test = X_test.drop([1], axis=1)
    y_test = y_test.drop([0], axis=1)
    print(len(X_train))
    print(len(X_test))
    return X_train, X_test, y_train, y_test

In [57]:
X_train0, X_test0, y_train0, y_test0 = split_train_test(data, y, test_size=0.2, random_state=990309)
X_train1, X_test1, y_train1, y_test1 = split_train_test(data, y, test_size=0.2, random_state=910)
X_train2, X_test2, y_train2, y_test2 = split_train_test(data, y, test_size=0.2, random_state=229)
X_train3, X_test3, y_train3, y_test3 = split_train_test(data, y, test_size=0.2, random_state=1017)
X_train4, X_test4, y_train4, y_test4 = split_train_test(data, y, test_size=0.2, random_state=1104)

85224
21306
85224
21306
85224
21306
85224
21306
85224
21306

In [58]:
X_train0.head(5)

           0  1                                                  2
48040  29612  1  the opens the door the future india join bjp i...
52287  39320  1  one day these minstersraj modifortune chasi mu...
67264  71417  1  friends have left friendship just because dont...
82580  52495 -1  dont worry they will become anti corrupt under...
91199  92940 -1  truth has finally come out unaccountable hoard...

In [59]:
X_test0.head(5)

           0                                                  2
450     1328                      modi should lead this country
42667  17261  mam have noticed that modi government well tri...
79588  36693  okeyd upa finance minister tweak policy iird w...
6722   19728  you have any idea what you are saying without ...
15851  45798  togetherness modi and the team drdo makes poss...

In [60]:
y_test0.head(5)

       1
450    0
42667  1
79588 -1
6722   0
15851  0

In [61]:
def write_to_csv(X_train, X_test, y_test, name, header=False, index=False):
    X_train.to_csv('../twitter_data/3-sentiment-processed-train-{}.csv'.format(name), header=header, index=index)
    X_test.to_csv('../twitter_data/3-sentiment-processed-X-test-{}.csv'.format(name), header=header, index=index)
    y_test.to_csv('../twitter_data/3-sentiment-processed-y-test-{}.csv'.format(name), header=header, index=index)

In [62]:
write_to_csv(X_train0, X_test0, y_test0, "fold0")
write_to_csv(X_train1, X_test1, y_test1, "fold1")
write_to_csv(X_train2, X_test2, y_test2, "fold2")
write_to_csv(X_train3, X_test3, y_test3, "fold3")
write_to_csv(X_train4, X_test4, y_test4, "fold4")