In [63]:
TRAIN_PROCESSED_FILE = '../twitter_data/reddit-twitter/Reddit_Data.csv'

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [128]:
data = pd.read_csv(TRAIN_PROCESSED_FILE)
print(len(data))

37249

In [129]:
data.head(5)

                                       clean_comment  category
0   family mormon have never tried explain them t...         1
1  buddhism has very much lot compatible with chr...         1
2  seriously don say thing first all they won get...        -1
3  what you have learned yours and only yours wha...         0
4  for your own benefit you may want read living ...         1

In [130]:
data = data[['category', 'clean_comment']]

In [131]:
text = data[[2]]
count = 0
max_count = -1
min_count = float('inf')
lessthan5 = 0
for i in range(2, len(text)):
    v = text.iloc[i].values[0]
    if isinstance(v, str):
        if (len(text.iloc[i].values[0].split())) > max_count:
            max_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < min_count:
            min_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < 20:
            lessthan5 += 1
        count += len(text.iloc[i].values[0].split())
count /= len(data)
print(count)
print(lessthan5)
print(max_count)
print(min_count)

KeyError: "None of [Int64Index([2], dtype='int64')] are in the [columns]"

In [98]:
len(data.loc[data['category'] == 1])

15830

In [99]:
len(data.loc[data['category'] == -1])

8277

In [100]:
len(data.loc[data['category'] == 0])

13142

In [126]:
equal_count_data = data.loc[data['category'] == 1][0:8277]
equal_count_data = equal_count_data.append(data.loc[data['category'] == -1][0:8277])
equal_count_data = equal_count_data.append(data.loc[data['category'] == 0][0:8277])

C:\Users\minsu\AppData\Local\Temp\ipykernel_3044\3875382132.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  equal_count_data = equal_count_data.append(data.loc[data['category'] == -1][0:8277])
C:\Users\minsu\AppData\Local\Temp\ipykernel_3044\3875382132.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  equal_count_data = equal_count_data.append(data.loc[data['category'] == 0][0:8277])

In [127]:
len(equal_count_data)

8277

In [120]:
y = data[['category']]
y.head(5)

   category
0         1
1         1
4         1
6         1
9         1

In [102]:
def split_train_test(data, y, test_size=0.2, random_state=42):
    X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=test_size, random_state=random_state)
#     X_test = X_test.drop([1], axis=1)
#     y_test = y_test.drop([0], axis=1)
    print(len(X_train))
    print(len(X_test))
    return X_train, X_test, y_train, y_test

In [103]:
X_train0, X_test0, y_train0, y_test0 = split_train_test(data, y, test_size=0.2, random_state=990309)
X_train1, X_test1, y_train1, y_test1 = split_train_test(data, y, test_size=0.2, random_state=910)
X_train2, X_test2, y_train2, y_test2 = split_train_test(data, y, test_size=0.2, random_state=229)
X_train3, X_test3, y_train3, y_test3 = split_train_test(data, y, test_size=0.2, random_state=1017)
X_train4, X_test4, y_train4, y_test4 = split_train_test(data, y, test_size=0.2, random_state=1104)

29799
7450
29799
7450
29799
7450
29799
7450
29799
7450

In [104]:
X_train0.head(5)

       category                                      clean_comment
11351         1                                  thats impressive
9009          0                            deleted 9713 what this
14465         0                                  big freakin deal
23943         0                         been there did you inside
9917          0   team standard gronk bennett pray the waiver wire

In [105]:
X_test0.head(5)

       category                                      clean_comment
27474        -1                                  stupid fucktards
10015         1   team full ppr need flex play after failing tr...
32715         1   think gps chip there somewhere the red fort g...
4976          0  but what their babip can they help desmond hit...
33919         0                   been wanting get this thank you

In [90]:
X_test0 = X_test0.drop(['category'], axis=1)

In [84]:
y_test0.head(5)

       category
27474        -1
10015         1
32715         1
4976          0
33919         0

In [92]:
def write_to_csv(X_train, X_test, y_test, name, header=False, index=False):
    X_train.to_csv('../twitter_data/reddit-twitter/3-sentiment-reddit-train-{}.csv'.format(name), header=header, index=index)
    X_test.to_csv('../twitter_data/reddit-twitter/3-sentiment-reddit-X-test-{}.csv'.format(name), header=header, index=index)
    y_test.to_csv('../twitter_data/reddit-twitter/3-sentiment-reddit-y-test-{}.csv'.format(name), header=header, index=index)

In [93]:
write_to_csv(X_train0, X_test0, y_test0, "fold0", index=True)
write_to_csv(X_train1, X_test1, y_test1, "fold1", index=True)
write_to_csv(X_train2, X_test2, y_test2, "fold2", index=True)
write_to_csv(X_train3, X_test3, y_test3, "fold3", index=True)
write_to_csv(X_train4, X_test4, y_test4, "fold4", index=True)