In [10]:
TRAIN_PROCESSED_FILE = '../twitter_data/bigDataset/Twitter_Data-processed.csv'

In [21]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [12]:
data = pd.read_csv(TRAIN_PROCESSED_FILE, header=None)
print(len(data))

107762

In [13]:
len(data.loc[data[1] == 0])

35510

In [14]:
len(data.loc[data[1] == 1])

72252

In [17]:
y = data[1]
y.head(5)

In [19]:
y.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-y.csv', header=False, index=False)

In [22]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, random_state=42)

In [26]:
X_test

           0  1                                                  2
76740  76741  1  good news that nirav modi has been denied bail...
4881    4882  1  congress repeated this promise guj hoping can ...
64374  64375  1  why folks remind him that song that modi stole...
29748  29749  1  new delhi ahead the first phase the lok sabha ...
37798  37799  1  mamata didi really knw wat drdo achievedif mod...
...      ... ..                                                ...
2167    2168  1  that modi govt has differentiated the basis re...
34908  34909  1                                 wrongmodi the best
44971  44972  0  the same was done modi these ugly cheer leader...
97695  97696  1  baat batao minimum wages kya hogi nyay yojana ...
18139  18140  1  course bjp has got much money spend marketing ...

[21553 rows x 3 columns]

In [25]:
X_train.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-X-train.csv', header=False, index=False)
X_test.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-X-test.csv', header=False, index=False)
y_train.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-y-train.csv', header=False, index=False)
y_test.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-y-test.csv', header=False, index=False)