In [1]:
TRAIN_PROCESSED_FILE = '../twitter_data/twitter_data_3sentiments.csv'

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv(TRAIN_PROCESSED_FILE)
print(len(data))

162980

In [22]:
data.head(5)

                                          clean_text  category
0  when modi promised “minimum government maximum...      -1.0
1  talk all the nonsense and continue all the dra...       0.0
2  what did just say vote for modi  welcome bjp t...       1.0
3  asking his supporters prefix chowkidar their n...       1.0
4  answer who among these the most powerful world...       1.0

In [13]:
len(data.loc[data['category'] == 0])

55213

In [14]:
len(data.loc[data['category'] == 1])

72250

In [15]:
len(data.loc[data['category'] == -1])

35510

In [23]:
same_count_data = data.loc[data['category'] == 0][0:35510].append(data.loc[data['category'] == 1][0:35510])
same_count_data.append(data.loc[data['category'] == -1])
same_count_data['category'] = same_count_data['category'].astype(int)

C:\Users\minsu\AppData\Local\Temp\ipykernel_33120\3654214483.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  same_count_data = data.loc[data['category'] == 0][0:35510].append(data.loc[data['category'] == 1][0:35510])
C:\Users\minsu\AppData\Local\Temp\ipykernel_33120\3654214483.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  same_count_data.append(data.loc[data['category'] == -1])

1        0
5        0
6        0
7        0
13       0
        ..
79727    1
79732    1
79733    1
79736    1
79740    1
Name: category, Length: 71020, dtype: int32

In [24]:
same_count_data = same_count_data[['category','clean_text']]
same_count_data.to_csv('../twitter_data/3-sentiment.csv')

In [19]:
y.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-y.csv', header=False, index=False)

In [32]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, random_state=42)
print(len(X_train))
print(len(X_test))

86209
21553

In [30]:
X_test = X_test.drop([1], axis=1)

In [31]:
X_train.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-train.csv', header=False, index=False)
X_test.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-X-test.csv', header=False, index=False)
y_test.to_csv('../twitter_data/bigDataset/Twitter_Data-processed-y-test.csv', header=False, index=False)