In [4]:
TRAIN_PROCESSED_FILE = '../twitter_data/3-sentiment-processed.csv'

In [51]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [9]:
data = pd.read_csv(TRAIN_PROCESSED_FILE, header=None)
print(len(data))

106530

In [10]:
data.head(5)

    0  1                                                  2
0   1  0  talk all the nonsense and continue all the dra...
1   5  0            kiya tho refresh maarkefir comment karo
2   6  0  surat women perform yagna seeks divine grace f...
3   7  0  this comes from cabinet which has scholars lik...
4  13  0  one vote can make all the difference anil kapo...

In [27]:
positive_data = data.loc[data[1] == 1].sort_values(by=2, key=lambda x: x.str.len()).dropna()
len(positive_data)

35510

In [28]:
negative_data = data.loc[data[1] == -1].sort_values(by=2, key=lambda x: x.str.len()).dropna()
len(negative_data)

35509

In [29]:
neutral_data = data.loc[data[1] == 0].sort_values(by=2, key=lambda x: x.str.len()).dropna()
neutral_data.head(5)

           0  1    2
17261  50190  0  now
7496   21988  0  did
18116  52749  0  job
12888  37837  0  all
27612  82295  0  fir

In [42]:
def combine_df(df, min_value, max_value):
    # Initialize an empty dataframe with the same columns as the original dataframe
    new_df = pd.DataFrame(columns=df.columns)

    combined_str = ""
    combined_row = None
    for index, row in df.iterrows():
        temp_str = combined_str + ' ' + row[2] if combined_str else row[2]
        num_words = len(temp_str.split())

        if num_words >= min_value:
            if num_words <= max_value:
                combined_str = temp_str
            else:
                new_df = new_df.append(combined_row, ignore_index=True)
                combined_str = row[2]
                combined_row = None
        else:
            combined_str = temp_str

        if combined_row is None:
            combined_row = row.copy()
            combined_row[2] = combined_str
        else:
            combined_row[2] = combined_str

    # Append the last combined row if it meets the word count requirements
    if min_value <= len(combined_str.split()) <= max_value:
        new_df = new_df.append(combined_row, ignore_index=True)

    return new_df

In [43]:
combined_neutral_df = combine_df(neutral_data, 80, 100)
len(combined_neutral_df)

C:\Users\minsu\AppData\Local\Temp\ipykernel_17436\1304027598.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(combined_row, ignore_index=True)

5493

In [44]:
combined_positive_df = combine_df(positive_data, 80, 100)
len(combined_positive_df)

C:\Users\minsu\AppData\Local\Temp\ipykernel_17436\1304027598.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(combined_row, ignore_index=True)

9261

In [45]:
combined_negative_df = combine_df(negative_data, 80, 100)
len(combined_negative_df)

C:\Users\minsu\AppData\Local\Temp\ipykernel_17436\1304027598.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  new_df = new_df.append(combined_row, ignore_index=True)

9853

In [46]:
combined_negative_df[2].loc[0]

'dead down dead fails unhappy failure retarded pathetic shocking very sad expected pink too mad modi shit modi hate modi stupidity seriously dirty modi indian now modi waste oops sorry pink worst blind faith this insane youre blind killed like spoof video thats scary modi failed failed modi modi failed modi behind modi shocked fake profile unbelievable its due modi you are mean very bad upa donated once down wid modi failed jawans mrmodi failed hate you modi you mean modi fake guy modi you hate modi going serious mean say modi why hate modi dint say idiot'

In [47]:
combined_df = pd.concat([combined_positive_df, combined_negative_df, combined_neutral_df], ignore_index=True)
len(combined_df)

24607

In [48]:
combined_df.head(4)

       0  1                                                  2
0  74887  1  apt true sure love nice best rofl true epic lo...
1   9129  1  love modi ready now great modi modi great than...
2  62516  1  modi winning welcome modi special gift proud m...
3  25084  1  when modi win love modi jee modi live now modi...

In [130]:
data = data[['category', 'clean_comment']]

In [131]:
text = data[[2]]
count = 0
max_count = -1
min_count = float('inf')
lessthan5 = 0
for i in range(2, len(text)):
    v = text.iloc[i].values[0]
    if isinstance(v, str):
        if (len(text.iloc[i].values[0].split())) > max_count:
            max_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < min_count:
            min_count = len(text.iloc[i].values[0].split())
        if (len(text.iloc[i].values[0].split())) < 20:
            lessthan5 += 1
        count += len(text.iloc[i].values[0].split())
count /= len(data)
print(count)
print(lessthan5)
print(max_count)
print(min_count)

KeyError: "None of [Int64Index([2], dtype='int64')] are in the [columns]"

In [132]:
len(data.loc[data['category'] == 1])

15830

In [133]:
len(data.loc[data['category'] == -1])

8277

In [134]:
len(data.loc[data['category'] == 0])

13142

In [135]:
equal_count_data = data.loc[data['category'] == 1][0:8277]
equal_count_data = equal_count_data.append(data.loc[data['category'] == -1][0:8277])
equal_count_data = equal_count_data.append(data.loc[data['category'] == 0][0:8277])

C:\Users\minsu\AppData\Local\Temp\ipykernel_3044\3875382132.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  equal_count_data = equal_count_data.append(data.loc[data['category'] == -1][0:8277])
C:\Users\minsu\AppData\Local\Temp\ipykernel_3044\3875382132.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  equal_count_data = equal_count_data.append(data.loc[data['category'] == 0][0:8277])

In [136]:
len(equal_count_data)

24831

In [78]:
y = combined_df[[1]]
y.head(5)

   1
0  1
1  1
2  1
3  1
4  1

In [52]:
def split_train_test(data, y, test_size=0.2, random_state=42):
    X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=test_size, random_state=random_state)
#     X_test = X_test.drop([1], axis=1)
#     y_test = y_test.drop([0], axis=1)
    print(len(X_train))
    print(len(X_test))
    return X_train, X_test, y_train, y_test

In [79]:
X_train0, X_test0, y_train0, y_test0 = split_train_test(combined_df, y, test_size=0.2, random_state=990309)

19685
4922

In [80]:
X_train0.head(5)

           0   1                                                  2
7416   27760   1  also let make list what modi did not promised ...
22912  13356   0  and ask the person you are standing next too a...
4050    1742   1  all goes well god willing and definitely the i...
16685  17014  -1  you mean say people india give full mandate mo...
10437  61120  -1  amethi after term and varanasi after single te...

In [83]:
X_test0.head(5)

            0                                                  2
10557  113064  responding jibe pcc vicepresident ananta sethi...
17756  151652  stupidity limitless tharoor but now india used...
12781   48632  modi gave credit all scientists behalf all peo...
6501    17658  nothing better can expected from someone who b...
4448    79422  modi real life hero nothing wrong idolizing pe...

In [82]:
X_test0 = X_test0.drop([1], axis=1)

In [84]:
y_test0.head(5)

        1
10557  -1
17756  -1
12781  -1
6501    1
4448    1

In [85]:
def write_to_csv(X_train, X_test, y_test, name, header=False, index=False):
    X_train.to_csv('../twitter_data/3-sentiment-train-{}.csv'.format(name), header=header, index=index)
    X_test.to_csv('../twitter_data/3-sentiment-X-test-{}.csv'.format(name), header=header, index=index)
    y_test.to_csv('../twitter_data/3-sentiment-y-test-{}.csv'.format(name), header=header, index=index)

In [86]:
write_to_csv(X_train0, X_test0, y_test0, "combined", index=False)