In [1]:
TRAIN_PROCESSED_FILE = '../twitter_data/3-sentiment-processed.csv'

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [6]:
data = pd.read_csv(TRAIN_PROCESSED_FILE, header=None)
print(len(data))

106530

In [7]:
data.head(5)

    0  1                                                  2
0   1  0  talk all the nonsense and continue all the dra...
1   5  0            kiya tho refresh maarkefir comment karo
2   6  0  surat women perform yagna seeks divine grace f...
3   7  0  this comes from cabinet which has scholars lik...
4  13  0  one vote can make all the difference anil kapo...

In [13]:
len(data.loc[data['category'] == 0])

55213

In [14]:
len(data.loc[data['category'] == 1])

72250

In [15]:
len(data.loc[data['category'] == -1])

35510

In [28]:
same_count_data = data.loc[data['category'] == 0][0:35510].append(data.loc[data['category'] == 1][0:35510])
same_count_data = same_count_data.append(data.loc[data['category'] == -1])
same_count_data['category'] = same_count_data['category'].astype(int)

C:\Users\minsu\AppData\Local\Temp\ipykernel_33120\3777634554.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  same_count_data = data.loc[data['category'] == 0][0:35510].append(data.loc[data['category'] == 1][0:35510])
C:\Users\minsu\AppData\Local\Temp\ipykernel_33120\3777634554.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  same_count_data = same_count_data.append(data.loc[data['category'] == -1])

In [29]:
len(same_count_data)

106530

In [31]:
same_count_data = same_count_data[['category','clean_text']]
same_count_data.to_csv('../twitter_data/3-sentiment.csv', header=False)

In [8]:
y = data[[0, 1]]
y.head(5)

    0  1
0   1  0
1   5  0
2   6  0
3   7  0
4  13  0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2, random_state=42)
print(len(X_train))
print(len(X_test))

85224
21306

In [15]:
X_train.head(5)

           0  1                                                  2
39924  10626  1  when congress launched narega dig land for day...
39251   9041  1  modi says taking action against bjp men shield...
89529  84842 -1  modi plays emotional game jawan death for modi...
8394   24596  0                                always support modi
53831  42990  1  prime minister narendra modi buys pogo channel...

In [16]:
X_test.head(5)

            0  1                                                  2
68559   74314  1  also modi made aware level pappu and his follo...
22374   65843  0  didnt pappu and his upa did the samebcoz they ...
95175  111580 -1  these are the bullshitters who have twisted id...
74731   15593 -1  modi governments bonds scheme makes impossible...
56051   47492  1           modi has more than few tricks his sleeve

In [17]:
y_test.head(5)

            0  1
68559   74314  1
22374   65843  0
95175  111580 -1
74731   15593 -1
56051   47492  1

In [23]:
X_test = X_test.drop([1], axis=1)
y_test = y_test.drop([0], axis=1)

In [24]:
X_train.to_csv('../twitter_data/3-sentiment-processed-train.csv', header=False, index=False)
X_test.to_csv('../twitter_data/3-sentiment-processed-X-test.csv', header=False, index=False)
y_test.to_csv('../twitter_data/3-sentiment-processed-y-test.csv', header=False, index=False)